@charset "UTF-8";
/* Переменные (через $) */
/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper {
  /*Максимальная ширина страницы и выравнивание содержимого по центру*/
  width: 1440px;
  margin: 0 auto;
  /* Обёртка для прижатия подвала к нижней части */
}

.wrapper-container {
  padding: 0 138px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-forcontent {
  min-height: 100vh;
  /* 100 видимых высот */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Отношение блоков */
}

/* end === content-without-footer === end */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

/* Шрифты */
/* example: 
@font-face {
    font-family: lato;
    src: url(../fonts/lato-light.ttf);
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
  font-family: rubik;
  src: url(../fonts/rubik-light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url(../fonts/rubik-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url(../fonts/rubik-medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

/* mixin */
/* example:
@mixin font-lato-normal-size-line($size-format: 400, $fonts:14px, $linehe: 17px) {
    font-family: lato;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}*/
/* index */
.header {
  background: linear-gradient(92.55deg, #f2b236 32.31%, #ff9c1a 64.34%);
  padding: 42px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: 100%;
}

.header-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  margin-right: 91px;
  margin-left: 18px;
  margin-bottom: 30px;
}

.header-logo-link {
  display: block;
  min-height: 47px;
  min-width: 290px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.6em;
  color: #FFFFFF;
  background-color: #F6D799;
  border-radius: 10px;
  text-align: center;
}

.header-logo-txt {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAF9;
}

.header-phone {
  margin-top: 28px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #884900;
}

.header-search {
  margin-top: 14px;
  margin-right: 2px;
  width: 327px;
  max-height: 45px;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
  padding: 12px 0 12px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-btn-link {
  margin-top: 14px;
  display: block;
  max-width: 45px;
  max-height: 45px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 1px 2px 0;
}

.header-btn-link-svg {
  fill: #F2B236;
}

.header-btn-link:nth-child(5) .header-btn-link-svg {
  margin-top: 2px;
}

.header-btn-link:hover {
  background-color: #F2B236;
}

.header-btn-link:hover .header-btn-link-svg {
  fill: #FFFFFF;
}

.header-menu {
  background-color: #FAFAF9;
}

.header-menu-container {
  padding-right: 225px;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu-list-li {
  padding: 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-menu-list-li:nth-child(5) {
  position: relative;
}

.header-menu-list-li:hover {
  background-color: #f2b236;
}

.header-menu-list-li:hover .header-menu-list-li-link {
  color: #FAFAF9;
}

.header-menu-list-li-link {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #222528;
  cursor: pointer;
}

.header-menu-list-li-inp {
  display: none;
}

.header-menu-list-li-inp:checked ~ .header-menu-list-li-hidden {
  display: block;
}

.header-menu-list-li-hidden {
  width: 135px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FAFAF9;
  position: absolute;
  top: 70px;
  right: 0px;
  display: none;
}

.header-menu-list-li-hidden-li {
  padding: 10px 0 5px 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-menu-list-li-hidden-li:hover {
  background-color: #f2b236;
}

.header-menu-list-li-hidden-li:hover .header-menu-list-li-hidden-txt {
  color: #FAFAF9;
}

.header-menu-list-li-hidden-txt {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #222528;
}

.face {
  margin-top: 210px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/background-face.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-face.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.face-seccont {
  padding-top: 235px;
  padding-bottom: 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.face-title {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 59px;
  margin-bottom: 16px;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
  color: #FAFAF9;
}

.face-title-additional {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  display: block;
  margin-bottom: 43px;
  text-align: center;
  color: #FAFAF9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
}

.face-btn {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 18px 92px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #DB4E66;
  -webkit-box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
          box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
  border-radius: 14px;
  margin: 0 auto 68px;
  display: block;
  cursor: pointer;
  -webkit-transition: background-color 1s ease-out, -webkit-transform 600ms ease;
  transition: background-color 1s ease-out, -webkit-transform 600ms ease;
  transition: transform 600ms ease, background-color 1s ease-out;
  transition: transform 600ms ease, background-color 1s ease-out, -webkit-transform 600ms ease;
}

.face-btn:hover {
  background-color: #6AC747;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.face-btn:active {
  background-color: #DB4E66;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.face-messengers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.face-messengers-link {
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.24);
  display: inline-block;
  width: 49px;
  height: 49px;
  background: #90c1bf;
  border-radius: 12px;
  margin-right: 24px;
}

.face-messengers-link:nth-child(2) .face-messengers-link-svg {
  margin-left: 6.5px;
}

.face-messengers-link:last-child {
  margin-right: 0;
}

.face-messengers-link:hover {
  background: #FFFFFF;
}

.face-messengers-link:hover .face-messengers-link-svg {
  fill: #90c1bf;
}

.face-messengers-link:active {
  background: #90c1bf;
}

.face-messengers-link:active .face-messengers-link-svg {
  fill: #FFFFFF;
}

.face-messengers-link-svg {
  fill: #FFFFFF;
  margin-top: 5px;
  margin-left: 5px;
}

.face-messengers-link-svg:hover {
  fill: #90c1bf;
}

.face-messengers-link-svg:active {
  fill: #FFFFFF;
}

.quest {
  background-color: #FAFAF9;
  width: 100%;
}

.quest-title {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  color: #222528;
  max-width: 697px;
  margin-bottom: 92px;
}

.quest-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quest-wrp-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quest-wrp-cards:nth-child(2) .quest-wrp-cards-img {
  background-image: url(../img/quest/kid.png);
  background-position: 10px 22px;
}

.quest-wrp-cards:nth-child(2) .quest-wrp-cards-description {
  margin-top: 18px;
}

.quest-wrp-cards:nth-child(3) .quest-wrp-cards-img {
  background-image: url(../img/quest/brain.png);
}

.quest-wrp-cards:nth-child(4) .quest-wrp-cards-img {
  background-image: url(../img/quest/emotions.png);
}

.quest-wrp-cards-img {
  background: #FFFFFF;
  background-image: url(../img/quest/friends.png);
  background-repeat: no-repeat;
  background-position: 11px 10px;
  width: 140px;
  height: 140px;
  background-size: 85%;
  -webkit-box-shadow: 0px 4px 9px #DADADA;
          box-shadow: 0px 4px 9px #DADADA;
  border-radius: 14px;
  margin-bottom: 37px;
}

.quest-wrp-cards-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28.44px;
  color: #222528;
  max-width: 401px;
  margin: 30px 0 0 23px;
}

.chat-bot {
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat-bot-main {
  width: 276px;
  height: 96px;
  border: 1px solid #CED0D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 9px #D3D3D3;
          box-shadow: 0px 4px 9px #D3D3D3;
  border-radius: 64px;
}

.questions {
  width: 100%;
  background: rgba(245, 245, 245, 0.63);
  border: 1px solid rgba(0, 0, 0, 0.18);
  margin: 0;
}

.questions-title {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  margin: 82px 0 92px 0;
  color: #222528;
}

.questions-frequent[open] .questions-frequent-title:before {
  content: "\2212";
  padding-right: 8px;
  width: 4px;
  height: 4px;
}

.questions-frequent:nth-child(7) {
  margin-bottom: 80px;
}

.questions-frequent-title {
  display: inline-block;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222528;
  list-style-type: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 48px;
}

.questions-frequent-title::before {
  content: "\002b";
  padding-right: 8px;
  width: 4px;
  height: 4px;
}

.questions-frequent-text {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.questions-button {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background: #DB4E66;
  -webkit-box-shadow: 2px 4px 9px #FBCCD4;
          box-shadow: 2px 4px 9px #FBCCD4;
  border-radius: 14px;
  color: #FFFFFF;
  padding: 18px 68px;
  cursor: pointer;
  margin-bottom: 88px;
}

.feedback {
  width: 100%;
  background-color: #FAFAF9;
  margin: 0;
}

.feedback-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-text-title {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-link {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding-top: 153px;
  color: #DB4E66;
}

.feedback-last {
  display: block;
  margin: 24px 0 59px 0;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #5B636B;
}

.feedback-reviews {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-reviews-card {
  -webkit-box-shadow: 0px 4px 9px #d3d3d3;
          box-shadow: 0px 4px 9px #d3d3d3;
  border-radius: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 37px;
  max-width: 564px;
  margin: 0 35px 56px 0;
}

.feedback-reviews-card:nth-child(2) {
  margin-right: 0;
}

.feedback-reviews-card:nth-child(4) {
  margin-right: 0;
}

.feedback-reviews-card-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-reviews-card-img {
  background: url(../img/reviews_page/reviews_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 121px;
  height: 121px;
  margin: 36px 0 26px 0;
}

.feedback-reviews-card-name {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 38px 0 0 31px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  color: #222528;
}

.feedback-reviews-card-time {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #A5AAAF;
  margin: 11px 0 6px 31px;
  display: block;
}

.feedback-reviews-card-five-big {
  font-family: rubik;
  font-weight: 300;
  font-style: normal;
  font-size: 42px;
  line-height: 50px;
  margin: 11px 0 0 31px;
  color: #ff9c1a;
}

.feedback-reviews-card-five-small {
  margin-right: 14px;
  font-family: rubik;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  line-height: 50px;
  color: #ff9c1a;
}

.feedback-reviews-card-text {
  width: 491px;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #222528;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-reviews-card-link {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 50px;
  color: #ff9c1a;
  text-decoration: underline;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: linear-gradient(92.55deg, #f2b236 32.31%, #ff9c1a 64.34%);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 58px 0 87px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-top-left-logo {
  width: 265px;
  background: #F6D799;
  border-radius: 10px;
}

.footer-top-left-logo-text {
  display: block;
  padding: 27px 63px 27px 63px;
  text-decoration: none;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.6em;
  color: #FFFFFF;
}

.footer-top-left-phone {
  margin-top: 16px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: block;
  color: #884900;
}

.footer-top-left-email {
  margin-top: 8px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: block;
  color: #884900;
}

.footer-top-left-search {
  margin-top: 45px;
  width: 140px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 14px 106px 13px 20px;
  position: relative;
}

.footer-top-left-search-input {
  color: #A5AAAF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
  border: none;
}

.footer-top-left-search-button {
  position: absolute;
  top: 13px;
  right: 15px;
  fill: #a5aaaf;
}

.footer-top-left-search-button:hover {
  cursor: pointer;
  fill: #5e6164;
}

.footer-top-right {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  min-width: 170px;
  margin: 0 50px 0 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.footer-top-right-list {
  margin-bottom: 16px;
}

.footer-top-right-list-color {
  color: #FFFFFF;
}

.footer-top-right-list-color:hover {
  font-family: rubik;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.footer-top-right:nth-child(2) {
  margin-left: 300px;
}

.footer-top-right:nth-child(3) .footer-top-right-list:nth-child(6) {
  margin-bottom: 0;
}

.footer-top-block {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  min-width: 220px;
}

.footer-top-social {
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.24);
  display: inline-block;
  width: 37px;
  height: 37px;
  background: #90c1bf;
  border-radius: 12px;
  margin-right: 7px;
  margin-top: 19px;
}

.footer-top-social:nth-child(2) .footer-top-svg {
  margin-top: 3px;
  margin-left: 5px;
}

.footer-top-social:nth-child(3) .footer-top-svg {
  margin-top: 3px;
  margin-left: 5px;
}

.footer-top-social:nth-child(4) .footer-top-svg {
  margin-top: 7px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.footer-top-social:hover {
  background: #FFFFFF;
}

.footer-top-social:hover .footer-top-svg {
  fill: #90c1bf;
}

.footer-top-social:active {
  background: #90c1bf;
}

.footer-top-social:active .footer-top-svg {
  fill: #FFFFFF;
}

.footer-top-svg {
  fill: #FFFFFF;
  margin-top: 4px;
  margin-left: 4px;
}

.footer-top-svg:hover {
  fill: #90c1bf;
}

.footer-top-svg:active {
  fill: #FFFFFF;
}

.footer-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #222528;
  width: 100%;
}

.footer-bottom-text {
  display: inline-block;
  margin: 56px 53px 57px 0;
  text-decoration: none;
  color: #CED0D2;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.footer-bottom-text-rights {
  margin-left: 453px;
  text-decoration: none;
  color: #A5AAAF;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}
/*# sourceMappingURL=style.css.map */