@charset "UTF-8";
/* Переменные (через $) */
/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper {
  /*Максимальная ширина страницы и выравнивание содержимого по центру*/
  width: 1440px;
  margin: 0 auto;
  /* Обёртка для прижатия подвала к нижней части */
}

.wrapper-container {
  padding: 0 138px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper-forcontent {
  min-height: 100vh;
  /* 100 видимых высот */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* end === wrapper === end */
/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Отношение блоков */
}

/* end === content-without-footer === end */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

/* Шрифты */
/* example: 
@font-face {
    font-family: lato;
    src: url(../fonts/lato-light.ttf);
    font-weight: 300;
    font-style: normal;
}*/
@font-face {
  font-family: rubik;
  src: url(../fonts/rubik-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url(../fonts/rubik-medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

/* mixin */
/* example:
@mixin font-lato-normal-size-line($size-format: 400, $fonts:14px, $linehe: 17px) {
    font-family: lato;
    font-weight: $size-format;
    font-style: normal;
    font-size: $fonts;
    line-height: $linehe;
}*/
/* index */
.header {
  background: linear-gradient(92.55deg, #f2b236 32.31%, #ff9c1a 64.34%);
  padding: 42px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.header-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  margin-right: 91px;
  margin-left: 18px;
  margin-bottom: 30px;
}

.header-logo-link {
  display: block;
  min-height: 47px;
  min-width: 290px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.6em;
  color: #FFFFFF;
  background-color: #F6D799;
  border-radius: 10px;
  text-align: center;
}

.header-logo-txt {
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FAFAF9;
}

.header-phone {
  margin-top: 28px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #884900;
}

.header-search {
  margin-top: 14px;
  margin-right: 2px;
  width: 327px;
  max-height: 45px;
  background: #FFFFFF;
  border-radius: 30px;
  position: relative;
  padding: 12px 0 12px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-btn-link {
  margin-top: 14px;
  display: block;
  max-width: 45px;
  max-height: 45px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 1px 2px 0;
}

.header-btn-link-svg {
  fill: #F2B236;
}

.header-btn-link:nth-child(5) .header-btn-link-svg {
  margin-top: 2px;
}

.header-btn-link:hover {
  background-color: #F2B236;
}

.header-btn-link:hover .header-btn-link-svg {
  fill: #FFFFFF;
}

.header-menu {
  padding: 22px 0;
  background-color: #FAFAF9;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu-list-li {
  margin-right: 36px;
}

.header-menu-list-li-link {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #222528;
}

.feedback {
  width: 100%;
}

.feedback-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-text-title {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
}

.feedback-link {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding-top: 28px;
  color: #DB4E66;
}

.feedback-last {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  color: #5B636B;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: linear-gradient(92.55deg, #f2b236 32.31%, #ff9c1a 64.34%);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 58px 0 87px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-top-left-logo {
  width: 265px;
  background: #F6D799;
  border-radius: 10px;
}

.footer-top-left-logo-text {
  display: block;
  padding: 27px 63px 27px 63px;
  text-decoration: none;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0.6em;
  color: #FFFFFF;
}

.footer-top-left-phone {
  margin-top: 16px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: block;
  color: #884900;
}

.footer-top-left-email {
  margin-top: 8px;
  font-family: rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  display: block;
  color: #884900;
}

.footer-top-left-search {
  margin-top: 45px;
  width: 140px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 14px 106px 13px 20px;
  position: relative;
}

.footer-top-left-search-input {
  color: #A5AAAF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
  border: none;
}

.footer-top-left-search-button {
  position: absolute;
  top: 13px;
  right: 15px;
  fill: #a5aaaf;
}

.footer-top-left-search-button:hover {
  cursor: pointer;
  fill: #5e6164;
}

.footer-top-right {
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  min-width: 170px;
  margin: 0 50px 0 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
}

.footer-top-right-list {
  margin-bottom: 16px;
}

.footer-top-right-list-color {
  color: #FFFFFF;
}

.footer-top-right-list-color:hover {
  font-family: rubik;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.footer-top-right:nth-child(2) {
  margin-left: 300px;
}

.footer-top-right:nth-child(3) .footer-top-right-list:nth-child(6) {
  margin-bottom: 0;
}

.footer-top-block {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFFFFF;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
  min-width: 220px;
}

.footer-top-social {
  -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.69);
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.24);
  display: inline-block;
  width: 37px;
  height: 37px;
  background: #90c1bf;
  border-radius: 12px;
  margin-right: 7px;
  margin-top: 19px;
}

.footer-top-social:nth-child(2) .footer-top-svg {
  margin-top: 3px;
  margin-left: 5px;
}

.footer-top-social:nth-child(3) .footer-top-svg {
  margin-top: 3px;
  margin-left: 5px;
}

.footer-top-social:nth-child(4) .footer-top-svg {
  margin-top: 7px;
  margin-left: 3px;
  margin-bottom: 1px;
}

.footer-top-svg {
  fill: #FFFFFF;
  margin-top: 4px;
  margin-left: 4px;
}

.footer-top-svg:hover {
  fill: #90c1bf;
}

.footer-top-svg:active {
  fill: #FFFFFF;
}

.footer-top-social:hover {
  background: #FFFFFF;
}

.footer-top-social:active {
  background: #90c1bf;
}

.footer-top-social:hover .footer-top-svg {
  fill: #90c1bf;
}

.footer-top-social:active .footer-top-svg {
  fill: #FFFFFF;
}

.footer-bottom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #222528;
  width: 100%;
}

.footer-bottom-text {
  display: inline-block;
  margin: 56px 53px 57px 0;
  text-decoration: none;
  color: #CED0D2;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.footer-bottom-text-rights {
  margin-left: 453px;
  text-decoration: none;
  color: #A5AAAF;
  font-family: rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}
/*# sourceMappingURL=style.css.map */