main{
    background-color: $white-light;
}

.navigation{
    margin-top: 208px;
    color: $grey;
    padding-top: 32px;
    padding-bottom: 32px;
    
    &-link{
        @include font(400, 16px, 160%);
        color: $grey;
    }

    &-arrow{
        margin: 0 13px;
    }
}

.line{
    border: 1px solid #A5AAAF;
}

// СЕКЦИЯ С ФИЛЬТРАМИ

.catalog{

    &-text{
        @include font(500, 44px, 52px);
        color: $dark;
        margin: 77px 0 82px;
    }

    &-filter{
        margin: 0;
        padding: 0;
        @include font(500, 24px, 28px);
        color: $grey;
        display: inline-block;
    }

    &-clear{
        @include font(400, 16px, 19px);
        color: $dark-grey;
        margin-left: 95px;
        cursor: pointer;

            &:hover{
                @include font(500, 16px, 19px);
            }
    }

    &-search{
        box-sizing: border-box;
        display: inline-block;
        width: 465px;
        background: $white;
        border-radius: 28px;
        position: relative;
        border: 1px solid $lighter-grey;
        padding: 14px 0 13px 20px;
        margin-left: 35px;

            &-input{
                @include font(400, 16px, 19px);
                color: $grey;
                box-sizing: border-box;
                outline: 0;
                border: none;
                width: 425px;
            }

            &-button {
                position: absolute;
                top: 13px;
                right: 15px;
                fill: #a5aaaf;

                    &:hover{
                        cursor: pointer;
                        fill: #5e6164;
                        }
            }
    }

    
        
        
    &-input{
        display: inline-block;
        width: 265px;
        background: $white-light;
        border: 1px solid $lighter-grey;
        box-sizing: border-box;
        border-radius: 26px;
        margin-left: 105px;
        padding: 14px 0 13px 20px;
        @include font(400, 16px, 19px);
        color: $pink;
        outline: 0;
        cursor: pointer;
        text-align: left;
    }

    &-arrow{
        fill: none;
        stroke: $dark-grey;
        margin-left: 40px;
    }
}
// СЕКЦИЯ С ФИЛЬТРАМИ END  
