.navigation{

    margin-top: 210px;
    color: $grey;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: $white-light;
    
    
    &-link{
        @include font(400, 16px, 160%);
        color: $grey;
    }
}