/* index */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1164px;
    margin: 0 auto;
}

// ==========FOOTER-CORRECTIONS==========
li {
    list-style-type: none;
}

.correction{
    margin-left: 300px;
}

.bold{
    @include font($size-format: 700, $fonts: 16px, $linehe: 160%);
}

// ==========FOOTER-CORRECTIONS==========



// ===============FOOTER==============

.footer {
    box-sizing: border-box;
    min-width: 1140px;
    background: linear-gradient(92.55deg, #f2b236 32.31%, #ff9c1a 64.34%);

    &-top {
        display: flex;
        justify-content: space-between;
        &-left {
            &-logo {
                margin-top: 58px;
                width: 265px;
                background: $peach;
                border-radius: 10px;

                &-text {
                    display: block;
                    padding: 27px 63px 27px 63px;
                    text-decoration: none;
                    @include font($size-format: 500, $fonts: 19px, $linehe: 22px);
                    letter-spacing: 0.6em;
                    color: $white;
                }
            }

            &-phone {
                margin-top: 16px;
                @include font($size-format: 500, $fonts: 18px, $linehe: 21px);
                display: block;
                color: $brown;
            }

            &-email {
                margin-top: 8px;
                @include font($size-format: 500, $fonts: 18px, $linehe: 21px);
                display: block;
                color: $brown;
            }

            &-search {
                margin-top: 45px;
                margin-bottom: 85px;
                width: 140px;
                background: $white;
                border-radius: 30px;
                padding: 14px 106px 13px 20px;
                position: relative;

                &-input {
                    color: $grey;
                    box-sizing: border-box;
                    @include font($size-format: 400, $fonts: 16px, $linehe: 19px);
                    outline: 0;
                    border: none;
                }

                &-test {
                    position: absolute;
                    top: 13px;
                    right: 15px;
                    fill: #a5aaaf;
                }

                &-test:hover {
                    fill: #5e6164;
                }
            }
        }

        &-right {
            margin-top: 58px;
            margin-right: 53px;
            color: $white;
            @include font($size-format: 400, $fonts: 16px, $linehe: 160%);

            &-list {
                margin-bottom: 16px;
            }
        }
// =========Спросить совет у Стаса=======
// и про марджин топ тоже
        &-block{
            margin-top: 58px;
            color: $white;
            @include font($size-format: 400, $fonts: 16px, $linehe: 160%);
        }
    }
}


