/* Переменные (через $) */

// Переменные цвета текста

$white: #FFFFFF;
$white-txt: #FAFAF9;

$brown: #884900;

$grey: #A5AAAF;
$light-grey: #90c1bf;
$lighter-grey:#CED0D2;

// Переменные цвета фона
$main-background-one: #f2b236;
$main-background-two: #ff9c1a;
$black-grey: #222528;
$peach: #F6D799;

/* === wrapper === */
/* Обёртки - отдельный блок */
.wrapper{
    /*Максимальная ширина страницы и выравнивание содержимого по центру*/
    width: 1440px;
    margin: 0 auto;

    //Отступы по краям
    &-container {
        padding: 0 138px;
        box-sizing: border-box;
    }
    
    /* Обёртка для прижатия подвала к нижней части */
    &-forcontent{
        min-height: 100vh; /* 100 видимых высот */
        display: flex;
        flex-direction: column;
    }
}
/* end === wrapper === end */



/* === content-without-footer === */
/* Основная часть без footer */
.content-without-footer{
    flex-grow:1; /* Отношение блоков */
}
/* end === content-without-footer === end */

// обнуление стилей для базовых элементов

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button{
    border: none;
    background: transparent;
    outline: none;
}

// обнуление стилей для базовых элементов
